.home .home-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/img/landing.png");
  background-size: cover;
  background-position: center;
}
.home .home-hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.186);
  padding-top: 15vh;
}
.home .home-hero .hero-content .hero-play {
  width: 72px;
  height: 72px;
  background-image: url(/public/icons/play.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 32px;
  transition: 0.25s;
}
.home .home-hero .hero-content .hero-play:hover {
  cursor: pointer;
  opacity: 0.5;
}
.home .home-hero .hero-content .hero-title {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 4px;
  line-height: 38px;
}
.home .home-hero .hero-content .hero-subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 32px;
  color: white;
  width: 35%;
  min-width: 700px;
  text-align: center;
  margin-bottom: 32px;
  letter-spacing: 1px;
}
.home .home-hero .hero-content .hero-contact {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border: 2px solid white;
  transition: 0.25s;
}
.home .home-hero .hero-content .hero-contact:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border: 2px solid rgba(245, 245, 245, 0);
  color: #d8ac84;
}
.home .home-hero .hero-scrolldown {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  width: 24px;
  height: 42px;
  border: 2px solid white;
  border-radius: 12px;
}
.home .home-hero .hero-scrolldown .scrolldown-animation {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(8px);
  animation: scrollanimation 2s infinite;
  animation-timing-function: linear;
}

.home-content {
  width: 100vw;
  background-color: #242424;
}

.section {
  width: 100vw;
}
.section .section-description {
  height: 64vh;
  width: 1400px;
  max-width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .section .section-description {
    flex-direction: column;
    justify-content: center;
  }
}
.section .section-description .description-text {
  width: 45%;
  display: flex;
  margin: 0 48px;
  flex-direction: column;
}
@media (max-width: 700px) {
  .section .section-description .description-text {
    width: 95%;
  }
}
.section .section-description .description-text .text-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.section .section-description .description-text .text-des {
  font-size: 1rem;
}
.section .section-description .description-image {
  display: flex;
  margin: 0 48px;
  justify-content: right;
  align-items: center;
  width: 45%;
  height: 250px;
}
.section .section-description .description-image .image {
  width: 400px;
  height: 400px;
  background-image: url(/public/img/image-template.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section.section-ia {
  background-color: #242424;
}
.section.section-3d {
  background-color: #242424;
}
.section .project {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  margin: auto;
  height: 80vh;
  background-image: url("/public/img/ds-texture.png");
  background-size: 100% 70%;
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  .section .project {
    height: 60vh;
  }
}
.section .project .project-clickable {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 90vw;
  height: 80vw;
  background-color: #3e3e3e;
}
@media (min-width: 700px) {
  .section .project .project-clickable {
    position: absolute;
    top: 25%;
    right: 20%;
    width: 500px;
    height: 450px;
  }
  .section .project .project-clickable.second {
    left: 20% !important;
  }
}
.section .project .project-clickable .project-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-left: 48px;
  margin-bottom: 16px;
}
.section .project .project-clickable .project-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 16px;
}
.section .project .project-clickable .project-description {
  font-size: 0.8rem;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 16px;
}
.section .project .project-clickable .project-viewmore {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 48px;
}

@keyframes scrollanimation {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  10% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(16px);
    opacity: 1;
  }
  60% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(24px);
    opacity: 0;
  }
}/*# sourceMappingURL=Home.css.map */