:root {
  font-size: 16px;
  line-height: 32px;
}
@media screen and (max-width: 700px) {
  :root {
    font-size: 12px;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
 }

 html {
  scroll-behavior: smooth !important;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Thin.otf) format(opentype);
  font-weight: 100;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-ExtraLight.otf) format(opentype);
  font-weight: 200;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Light.otf) format(opentype);
  font-weight: 300;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Regular.otf) format(opentype);
  font-weight: 400;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Medium.otf) format(opentype);
  font-weight: 500;
 }
 
 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Demi.otf) format(opentype);
  font-weight: 600;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Bold.otf) format(opentype);
  font-weight: 700;
 }

 @font-face {
  font-family: 'DS Termina';
  src: url(/public/fonts/DS-Termina/DSTermina-Heavy.otf) format(opentype);
  font-weight: 800;
 }

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'DS Termina', sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Removing default a decoration */
a {
    /* remove default text decoration */
    text-decoration: none !important;
  
    /* remove default border and outline */
    border: none;
    outline: none;
    
    /* remove default hover styles */
    /* set the hover styles to whatever you want */
    /* or remove the entire block if you don't need hover styles */
}

a:hover {
  text-decoration: none;
  border: none;
  outline: none;
}